.profile-card {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 315px;
    width: 200px;
}

.profile-card textarea {
    background-color: white;
    position: relative;
    border: none;
    outline: none; /* Remove outline */
    resize: none; /* Disable resizing */
    width: 240px;
    height: 200px;
    top: 20px;
}

.profile-card textarea::placeholder {
    color: black;
    text-align: center;
}
